*{
	margin:0;
	padding: 0;
}

body{
	font: 12px Arial;
	min-width: 810px;
}

/*头部信息*/
header{
	height: 100px;
	background: #98D5E5;
	text-align: center;
}
header h1{
	height: 100px;
	line-height: 100px;
	font-size: 25px;
}

.container{
	overflow: hidden;
	width: 100%;
	margin: 10px 0 20px;
	line-height: 2em;
	background: #E9EFB8;
}

/*中间主体部分*/
.container .content{
	float: left;
	width: 100%;
}
.container .content .content-inner{
	background: #ECECEC;
    padding: 10px;
	margin-left: 320px;
	margin-right: 220px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
}
.content-inner article{
	margin: 10px;
}
/*左侧边栏*/
.container .left-aside{
	float: left;
	width: 300px;
    box-sizing: border-box; /*怪异盒子*/
    padding: 10px 20px;
	margin-left: -100%;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	background: #73D2B4;
}

/*右侧边栏*/
.container .right-aside{
	float: left;
	width: 200px;
	box-sizing: border-box; /*怪异盒子*/
    padding: 10px 20px;
	margin-left: -200px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	background: #8D99EC;
}

/*底部信息*/
footer p{
	line-height: 2.5em;
    background: #161716;
    color: #fff;
    text-align: center;
}